{
{%- if 'rhel' not in data.builder.iso_url %}
  "provisioners": [
    {
      "type": "shell",
      "inline": [
        "mount -t iso9660 -o loop /root/VBoxGuestAdditions.iso /mnt",
        "sh /mnt/VBoxLinuxAdditions.run",
        "umount /mnt",
        "rm -f /root/VBoxGuestAdditions.iso",
        "sed -i '/^proxy/d' /root/anaconda-ks.cfg",
        "sed -i '/^proxy/d' /root/original-ks.cfg"
      ]
    }
  ],
{%- endif %}
  "builders": [
    {
      "name": "{{ data.builder.name }}",
      "type": "virtualbox-iso",
      "iso_url": "{{ data.builder.iso_url }}",
      "iso_checksum": "{{ data.builder.iso_checksum }}",
      "iso_checksum_type": "{{ data.builder.iso_checksum_type }}",
      "vm_name": "{{ data.builder.name }}",
      "guest_os_type": "RedHat_64",
      "headless": "true",
      "ssh_username": "root",
      "ssh_password": "vagrant",
      "ssh_port": 22,
      "ssh_wait_timeout": "1200s",
      "vboxmanage": [
{%- raw %}
        ["modifyvm", "{{.Name}}", "--memory", "{% endraw %}{{data.builder.memory}}{% raw %}"],
        ["modifyvm", "{{.Name}}", "--cpus", "1"],
        ["modifyvm", "{{.Name}}", "--audio", "none"],
        ["modifyvm", "{{.Name}}", "--usb", "off"]
{%- endraw %}
      ],
      "disk_size": "{{data.builder.disksize}}",
      "http_directory": ".",
      "boot_command": [
{%- raw %}
        "<tab> text ks=http://{{ .HTTPIP }}:{{ .HTTPPort }}/ks.cfg<enter><wait>"
{%- endraw %}
      ],
      "shutdown_command": "/sbin/halt -p"
    }
  ],
  "post-processors": [
    [
      {
        "type": "vagrant",
        "compression_level": 9
      }
    ]
  ]
}
